body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px 15px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.tabs button {
    padding: 8px 15px;
    margin: 0 5px;
}

.tabs button:focus {
    outline: none;
}

.task-delete-button {
    width: 60px;
    margin-left: 10px;
}
